
body,  h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0px;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    
} 
#titulo{
    font-size: 30px;
    background-color: rgb(0, 0, 0);
    color: white;
    text-align: center;
}
#subtitulo{
    font-size: 20px;
    color: rgb(165, 165, 165);
    background-color: rgb(0, 5, 15);
    text-align: center;
}
.my-form{
    background-color: rgb(1, 21, 63);
    width:100%;
    padding: 10px;
}

#title-edit {
    justify-content: center;
    color: snow;
    background-color: black;
    text-align: center;
    color: rgb(165, 165, 165);
}
#edit-form {
    font-size: 20px;
    background-color: rgb(0, 21, 78);
    width: 100%;
    padding: 10px;
  
}
#add-firstLetter, #edit-firstLetter{
    text-transform: uppercase;
}

table td {
    background-color: aliceblue;
}
